@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

html {
    font-size: 62.5%;
    font-family: "Playfair Display", serif;
}

/* Header */
.header {

}

.header .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    font-size: 2.4rem;
    padding: 16px 0;
}

/* Container */

.container {
    width: 1200px;
    margin: 0 auto;
}

.food-lists {
    padding: 16px 8px;
}

.food-item {
    padding: 0 8px;
}

.food-item img {
    width: 100%;
}

.food-item h3 {
    font-size: 2.4rem;
    font-weight: 300;
    margin: 10px 0;
    line-height: 3.6rem;
}

.food-item p {
    font-size: 1.5rem;
    margin: 15px;
    line-height: 2.2rem;
}

/* Navbar Change */
.container .btn-change {
    display: flex;
    justify-content: center;
    padding: 32px 0;
    font-size: 1.5rem;
}

.container .bar-item-btn {
    display: inline-block;
    line-height: 2.2rem;
    padding: 8px 16px;
    text-decoration: none;
    color: #000;
}

.container .bar-item-btn:nth-child(2) {
    color: #fff;
    background-color: #000;
}

.container .bar-item-btn:nth-child(2):hover {
    color: #000;
    background-color: #ccc;
}

.container .bar-item-btn:hover {
    background-color: #000;
    color: #fff;
}

/* About */
.body-about {
    padding: 32px 16px;
}

.about-him {
    margin: 10px 0;
}

.about-him h3 {
    font-size: 2.4rem;
    font-weight: 300;
}

.about-content {
    padding: 32px 0;
}

.about-content h4 {
    margin: 10px;
    font-size: 2rem;
}

.about-content #about-dsc {
    margin: 10px;
    font-style: italic;
    font-size: 1.6rem;
    font-weight: 300;
}

.about-content #about-lala {
    margin: 15px;
    font-size: 1.5rem;
    font-weight: 200;
}




